<!DOCTYPE html>
<html>
<head>
	<title></title>
<style type="text/css">
	#final{
		margin-top: 10%;
	}
	body{
		background-image:url("https://images.tribuneindia.com/cms/gall_content/2018/3/2018_3$largeimg01_Thursday_2018_015123125.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<header>
	<h1><p align="center" style="color:white;">MADHYA PRADESH<br>Police Services</p></h1>
		<div style="width:20%">
	</div>
	</header>
	<div align="center" class="jumbotron container" id="final">
<h1>Your complain/FIR has been recorded.</h1>
<hr><br>
<p><h3> Action will be taken as soon as possible.</h3></p>
</div>
</body>
</html>
