<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Welcome to Virtual Police Station</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>

<body>
    <div class="preloader" id="preloader">
        <img src="https://seeklogo.com/images/M/madhya-pradesh-logo-F386EFA8BB-seeklogo.com.png" alt="LOADING"
            class="logo">
        <br>
        <span class="preloader-text">LOADING...</span>
    </div>
    <div class="main" id="main">
        <h1 class="middle-header">VIRTUAL POLICE STATION</h1>

        <div class="news"> LATEST NEWS </div>

        <div class="middle">
            <img src="https://seeklogo.com/images/M/madhya-pradesh-logo-F386EFA8BB-seeklogo.com.png"
                alt="Madhya Pradesh Police" class="logo">

            <div class="options">
                <div class="option">
                    <center>
                        <img class="option-img" src="https://rscouncil.org/wp-content/uploads/2018/08/bio-image.png"
                            alt="">
                    </center>
                    <div class="option-caption">Enter New FIR</div>
                </div>
                <div class="option">
                    <center>
                        <img class="option-img" src="https://image.flaticon.com/icons/png/512/2311/2311488.png" alt="">
                    </center>
                    <div class="option-caption">Track Your FIR</div>
                </div>
                <div class="option">
                    <center>
                        <img class="option-img"
                            src="https://cdn5.vectorstock.com/i/thumb-large/14/74/police-location-thin-line-icon-police-station-gps-vector-25521474.jpg"
                            alt="">
                        <div class="option-caption">Nearby Police Station</div>
                    </center>
                </div>
                <div class="option">
                    <center>
                        <img class="option-img"
                            src="https://www.pinclipart.com/picdir/middle/331-3316988_check-mark-box-clip-art-admin-blue-icon.png"
                            alt="">
                        <div class="option-caption">SHO Login</div>
                    </center>
                </div>
            </div>

        </div>

        <div class="updates">INFORMATION AND UPDATES
            <img class="updates-image"
                src="https://i.pinimg.com/originals/3c/d9/83/3cd983efa171f507709c363054602e1f.jpg" alt="">
        </div>


    </div>
    <script src="/javascripts/landingScript.js"></script>
</body>

</html>